.local/
.DS_Store
.cache/
.ipython/
.jupyter/
.keras/
.ipynb_checkpoints/
.bash_history

face-recognition/github-krasserm-face-recognition/
face-recognition/__pycache__/
face-recognition/dlib-models/
face-recognition/openface-model/
face-recognition/.ipynb_checkpoints/

yolov3/yolov3.weights
yolov3/vendor/
